<h1><%= @dog.name %></h1>
Breed: <%= @dog.breed %><br>
Age: <%= @dog.age %><br><br>

<hr>
<h2 style="color: red;">The Dog's Biddies</h2>
<ul>
<% @dog.employees.each do |employee| %>
    <li><%= link_to employee.full_name, employee_path(employee) %></li>
<% end %>
</ul>